* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: Kumbh Sans, sans-serif;
  font-size: 12px;
  color: hsl(238, 29%, 16%);
  background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  min-height: 100vh;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  padding: 0.5rem 0;
}

h2 {
  font-size: 2rem;
  padding: 1rem 0;
}

h4 {
  font-size: 12px;
  font-weight: 400;
  padding: 0.5rem 0;
}

h4::after {
  content: url(./images/icon-arrow-down.svg);
  position: absolute;
  right: 23%;
}

h4:hover {
  color: hsl(14, 88%, 65%);
  cursor: pointer;
}

.show-text h4 {
  font-weight: bold;
}

.show-text h4::after {
  transform: rotate(180deg);
}

.faq-card {
  background: #ffffff;
  width: 70%;
  max-width: 850px;
  height: 27rem;
  margin: auto;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  flex: 1;
  height: 100%;
  position: relative;
  background: url(./images/illustration-woman-online-desktop.svg) no-repeat center right, url(./images/bg-pattern-desktop.svg) no-repeat center right; 
}

.mobile-images {
  display: none;
}

.box {
  position: absolute;
  top: 170px;
  left: -99px;
}

.faq {
  flex: 1;
  padding: 3rem;
}

.question {
  display: flex;
  flex-direction: column;
  border-bottom: hsl(240, 5%, 91%) 1px solid;
  padding: 0.75rem 0;
}

.faq-text {
  display: none;
}

.show-text .faq-text {
  display: inline-block;
  margin-right: 15%;
}


@media screen and (max-width: 800px) {
  h2 {
    text-align: center;
  }
  h4::after {
    right: 15%;
  }
  .faq-card {
    flex-direction: column;
    width: 149%;
    height: 30rem;
  }
  .img{
    background: none;
  }
  .mobile-images{
    display: inline-block;
    position: relative;
  }
  #mobile-bg{
    position: absolute;
    left: -115px;
    top: 9px;
  }
  #mobile-woman{
    position: absolute;
    left: -145px;
    top: -100px;
  }
  .box {
    display: none;
  }
  .faq {
    flex: 3;
    padding: 0 1.5rem;
    width: 100%;
  }
  .question {
    padding: 0.5rem;
  }
  .show-text .faq-text {
    display: inline-block;
    margin-right: 5%;
  }
}