* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: Kumbh Sans, sans-serif;
  font-size: 12px;
  color: hsl(238, 29%, 16%);
  background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  min-height: 100vh;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  padding: 0.5rem 0;
}

h2 {
  font-size: 2rem;
  padding: 1rem 0;
}

h4 {
  font-size: 12px;
  font-weight: 400;
  padding: 0.5rem 0;
}

h4::after {
  content: url(./images/icon-arrow-down.svg);
  position: absolute;
  right: 23%;
}

h4:hover {
  color: hsl(14, 88%, 65%);
  cursor: pointer;
}

.show-text h4 {
  font-weight: bold;
}

.show-text h4::after {
  transform: rotate(180deg);
}
.show-text .faq-text {
  margin-right: 15%;
}

.faq-card {
  background: #ffffff;
  /* padding: 2rem; */
  width: 70%;
  height: 450px;
  margin: auto;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  flex: 1;
  height: 100%;
  position: relative;
  background: url(./images/illustration-woman-online-desktop.svg) no-repeat center right, url(./images/bg-pattern-desktop.svg) no-repeat center right; 
}

.box {
  position: absolute;
  top: 170px;
  left: -99px;
}

.faq {
  flex: 1;
  padding: 3rem;
}

.question {
  display: flex;
  flex-direction: column;
  border-bottom: hsl(240, 5%, 91%) 1px solid;
  padding: 0.75rem 0;
}

.faq-text {
  display: none;
}

.show-text .faq-text {
  display: inline-block;
}
