* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Kumbh Sans, sans-serif;
  font-size: 12px;
  color: hsl(238, 29%, 16%);
  background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));

  
}

.faq-card {
  background: #ffffff;
  padding: 2rem;
  width: 80%;
  margin: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
}

.img {
  /* position: fixed; */
  left: -40;
  display: block;
  margin-left: -25%;
}

/* .comp-img {
  left: 0;
  position: relative;
} */

.question {
  padding: 1rem;
  display: flex;
}

.faq {
  padding: 1rem;
}

p {
  display: none;
}

h2 {
  font-size: 2rem;
  padding: 1rem;
}

h4 {
  font-size: 12px;
  font-weight: 400;
}

hr {
  /* width: 2rem; */
  margin: 1rem;
  padding: auto;
  color: hsl(240, 5%, 91%);
}
